<h1>Accueil</h1>
<div>
<% if user_signed_in? %>
	<%= link_to "Se deconnecter", destroy_user_session_path, method: :delete %>
<%else%>
	<%= link_to "Se connecter", new_user_session_path %><br>
<%end%>
</div>
<div>
	<%= link_to "S'inscrire",  new_user_registration_path %>
</div>
