<h1> Editer  article </h1>


<%= simple_form_for @post do |f| %>
  <%= f.input :title, label: "Titre de l'article", error: 'Un titre est obligatoire' %>
  <%= f.input :content, label: "Contenu de l'article" %>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>